body {
    margin: 0px;
    background-color: rgb(56, 11, 52);
    background-image: url('img.jpg');
    image-rendering: no repeat;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 100%;
    color: #f9fcf5;
    font-family: Arial, Helvetica, sans-serif;
}